[submodule "vdjserver-web-api"]
	path = vdjserver-web-api
	url = git@bitbucket.org:vdjserver/vdjserver-web-api.git
[submodule "vdjserver-web-backbone"]
	path = vdjserver-web-backbone
	url = git@bitbucket.org:vdjserver/vdjserver-web-backbone.git
[submodule "vdjserver-web-nginx"]
	path = vdjserver-web-nginx
	url = git@bitbucket.org:vdjserver/vdjserver-web-nginx.git
[submodule "vdjserver-web-redis"]
	path = vdjserver-web-redis
	url = git@bitbucket.org:vdjserver/vdjserver-web-redis.git
[submodule "vdjml"]
	path = vdjml
	url = git@bitbucket.org:vdjserver/vdjml.git
